@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-btn: #004dbca8;
  --primary-btn-hover: #003e9557;
  --card: #ff9700;
  --disabled-btn: #5e5e5e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: 800;
}

h2 {
  font-size: large;
}

h3 {
  font-weight: 600;
}

main {
  width: 100%;
}

.smallMain {
  width: auto;
}

.movieContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.singleMovieContainer {
  flex-wrap: wrap;
  width: -webkit-fill-available;
}

.recMovieContainer {
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}

.actualProviderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.providerName {
  font-weight: 600;
  margin-left: 4vh;
}

.providerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.providersContainer {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  color: black;
  background-color: var(--card);
  padding: 0vh 4vh 3vh 4vh;
}

.movieInput {
  display: flex;
  align-self: center;
  width: 50%;
  color: #171717;
  text-align: center;
  padding: 2vh 10vh;
  font-size: large;
}

.recommendButton {
  cursor: default;
  background-color: var(--primary-btn);
  color: #ffffff;
  padding: 4vh 20vh;
  border-radius: 3vh;
  align-self: center;
  font-size: x-large;
  font-weight: 700;
}

.disabledButton {
  pointer-events: none;
  background-color: var(--disabled-btn);
}

button:disabled {
  background-color: var(--disabled-btn);
}

.recommendButton:not(:disabled):hover {
  background-color: var(--primary-btn-hover);
}

.countrySelector {
  background-color: black;
  border-bottom: groove;
  display: flex;
  text-align: center;
  padding: 0vh 10vh;
  width: fit-content;
  margin-top: 4vh;
  font-size: large;
  font-weight: 600;
}

.countrySelectorContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  margin-bottom: 10vh;
}

.countrySelectorLabel {
  font-size: larger;
  font-weight: 800;
}

.movieChoiceContainer {
  max-width: 50%;
}

.movieCard {
  display: flex;
  flex-flow: column;
  color: black;
  background-color: var(--card);
  padding: 0vh 4vh 3vh 4vh;
  align-items: center;
}

.bigMovieCard {
  display: flex;
  color: black;
  background-color: var(--card);
  padding: 0vh 4vh 3vh 4vh;
  flex-direction: column;
}

.overviewMovieContainer {
  display: flex;
  align-items: center;
}

.firstItemsMovieCard {
  display: flex;
  flex-direction: column;
}

.movieTitle {
  display: flex;
  width: inherit;
  text-align: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  width: 256px;
  align-items: center;
}

.movieOverview {
  max-width: 256px;
  margin-top: 4vh;
}

.chooseThisButton {
  cursor: default;
  background-color: var(--primary-btn);
  color: #ffffff;
  padding: 4vh;
  align-self: center;
  font-size: x-large;
  font-weight: 700;
  width: 100%;
}

.chooseThisButton:not(:disabled):hover {
  background-color: var(--primary-btn-hover);
}

.chooseButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chooseButtons {
  cursor: default;
  color: #ffffff;
  padding: 4vh 0vh;
  align-self: center;
  font-size: x-large;
  font-weight: 700;
  width: 48%;
  justify-content: center;
}

.whereToWatchButton {
  cursor: default;
  background-color: var(--primary-btn);
  color: #ffffff;
  padding: 4vh;
  align-self: center;
  font-size: x-large;
  font-weight: 700;
  width: 100%;
  margin-top: 5vh;
}

#selectCountryBtn {
  background-color: var(--primary-btn);
  padding: 4vh 15vh;
  font-size: large;
  font-weight: 600;
  width: fit-content;
}

#aboutLink {
  display: flex;
  align-self: center;
  text-decoration: underline;
}

#selectCountryBtn:disabled {
  background-color: var(--disabled-btn);
}

#recMoviesContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#countrySelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.truthyButton {
  background-color: var(--primary-btn);
}

.falsyButton {
  background-color: rgb(98, 0, 0);
}

.falsyButton:not(:disabled):hover {
  background-color: rgb(131, 1, 1);
}

.truthyButton:not(:disabled):hover {
  background-color: var(--primary-btn-hover);
}

.mainQuestion {
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 5vh;
}
